:root {
  --square-white: white;
}

body {
  margin: 0px;
  padding: 0px;

  font-family: sans-serif;

  background-color: black;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

h1 {
    margin-bottom: 20px;
}

.chessboard {
    display: grid;
    grid-template-columns: repeat(8, 60px);
    grid-template-rows: repeat(8, 60px);
    gap: 0;
    border: 2px solid #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.square {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 24px;
}

.square:nth-child(even) {
    background-color: #f0d9b5;
}

.square:nth-child(odd) {
    background-color: #b58863;
}

.square:hover {
    background-color: #ddd;
}

#game-info {
    margin-top: 20px;
    font-size: 18px;
}
